<% layout('/layouts/boilerplate.ejs') %>
    <style>
        .rounded {
            border-radius: 0.5rem;
            transition: all 0.2s linear;
            background-color: white;
        }

        .rounded:hover {
            transform: scale(1.05);
        }

        .rounded:hover button {
            background-color: rgb(33, 71, 209);
        }

        .img_cont {
            padding: 1rem;
            overflow: hidden;
            border-radius: 0.5rem;
        }

        .img_cont>img {
            border-radius: 0.5rem;
        }

        .upper_cont_img {
            /* visibility: hidden; */
            width: 0;
            overflow: hidden;
            padding-left: 0rem;
            padding-right: 0rem;
            margin-top: 0rem;
            position: relative;
            top: 0;
            transition: all 0.5s ease;
            animation: popUp 1.5s ease;
        }

        @keyframes popUp {
            0% {
                width: 100%;
                transform: scale(0.2);
                opacity: 0;
            }

            90% {
                width: 100%;
                transform: scale(1);
                opacity: 1;
            }

            100% {
                width: 0%;
            }
        }

        .top_img {
            width: 100%;
            /* padding: 5rem; */
        }

        .top_img>img {
            width: 100%;
            height: 50%;
            border-radius: 0.5rem;
        }

        .all_events {
            padding: 5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            font-size: 8rem;
            color: whitesmoke;
            font-weight: 800;
            text-align: center;
            background-color: rgba(0, 0, 255, 0.248);
            transform: translate(-50%, -50%);
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .grid {
            position: relative;
        }

        .svg_wave {
            position: absolute;
            z-index: -1000;
            bottom: -15%;
            width: 100vw;
        }
    </style>
    <div>
        <div class="upper_cont_img">
            <div class="top_img">
                <img src="https://wallpapercave.com/wp/wp7488275.jpg" />
            </div>
            <div class="all_events">
                <div>
                    All Events
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-3 justify-items-center mt-10">
        <% for(let event of events){ %>
            <div class="py-10">
                <div class="rounded overflow-hidden shadow-lg max-w-xs">
                    <div class="img_cont">
                        <img src="<%= event.image.path %>" alt="">
                    </div>
                    <div class="px-6 py-4">
                        <div class="text-xl mb-2 font-semibold">
                            <%= event.name %>
                        </div>
                        <p class="text-gray-600">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, similique itaque.
                            Blanditiis nihil sed repudiandae at, est voluptate quisquam? Quidem, illum quasi. Optio
                            repellendus earum nulla aspernatur, omnis rem atque.
                        </p>
                        <button
                            class="z-50 mt-2 mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            <a href="/events/<%= event._id %>">View</a>
                        </button>
                    </div>

                </div>
            </div>
            <% } %>
                <div class="svg_wave">
                    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg"
                        class="transition duration-300 ease-in-out delay-150">
                        <style>
                            .path-0 {
                                animation: pathAnim-0 4s;
                                animation-timing-function: linear;
                                animation-iteration-count: infinite;
                            }

                            @keyframes pathAnim-0 {
                                0% {
                                    d: path("M 0,500 C 0,500 0,166 0,166 C 41.61312900185335,170.87943630085775 83.2262580037067,175.7588726017155 113,159 C 142.7737419962933,142.2411273982845 160.7080969870266,103.84394589399575 188,106 C 215.2919030129734,108.15605410600425 251.94135404818695,150.86534382230147 290,154 C 328.05864595181305,157.13465617769853 367.5264868202258,120.69467881679839 407,124 C 446.4735131797742,127.30532118320161 485.9526986709103,170.35594091050498 526,172 C 566.0473013290897,173.64405908949502 606.6627184961335,133.8815575411817 634,139 C 661.3372815038665,144.1184424588183 675.3964273445551,194.11782892476816 711,218 C 746.6035726554449,241.88217107523184 803.7515721256457,239.6471267597458 840,217 C 876.2484278743543,194.3528732402542 891.5972841528618,151.29366403624869 918,152 C 944.4027158471382,152.70633596375131 981.8592912629072,197.17821709525936 1022,204 C 1062.1407087370928,210.82178290474064 1104.9655507955094,179.99346758271398 1144,179 C 1183.0344492044906,178.00653241728602 1218.2785055550553,206.8479125738847 1247,211 C 1275.7214944449447,215.1520874261153 1297.92042698427,194.61488212174723 1329,183 C 1360.07957301573,171.38511787825277 1400.0397865078648,168.6925589391264 1440,166 C 1440,166 1440,500 1440,500 Z");
                                }

                                25% {
                                    d: path("M 0,500 C 0,500 0,166 0,166 C 26.85742040988299,170.61326676596764 53.71484081976598,175.2265335319353 95,189 C 136.28515918023402,202.7734664680647 191.99805713081906,225.7071326382264 224,224 C 256.00194286918094,222.2928673617736 264.2929306569577,195.94493591515908 292,180 C 319.7070693430423,164.05506408484092 366.8302202413501,158.5131237011372 403,154 C 439.1697797586499,149.4868762988628 464.3861883776416,146.0025692802922 500,143 C 535.6138116223584,139.9974307197078 581.6250262480836,137.47659917769406 616,148 C 650.3749737519164,158.52340082230594 673.1137066300241,182.09103400893162 702,185 C 730.8862933699759,187.90896599106838 765.9201472318201,170.1592647865794 803,161 C 840.0798527681799,151.8407352134206 879.2057044426953,151.27190684475073 922,161 C 964.7942955573047,170.72809315524927 1011.2570349973994,190.7531078344176 1043,201 C 1074.7429650026006,211.2468921655824 1091.7661555677073,211.71566181757882 1127,209 C 1162.2338444322927,206.28433818242118 1215.678342731771,200.38424489526724 1248,178 C 1280.321657268229,155.61575510473276 1291.5204735052084,116.74735860135222 1320,112 C 1348.4795264947916,107.25264139864778 1394.2397632473958,136.62632069932388 1440,166 C 1440,166 1440,500 1440,500 Z");
                                }

                                50% {
                                    d: path("M 0,500 C 0,500 0,166 0,166 C 37.62727659968186,184.5093637355523 75.25455319936373,203.0187274711046 112,214 C 148.74544680063627,224.9812725288954 184.60906380222693,228.4344538511338 213,207 C 241.39093619777307,185.5655461488662 262.30919159172873,139.24345712436013 295,126 C 327.69080840827127,112.75654287563988 372.1541698308581,132.5917176514257 411,127 C 449.8458301691419,121.40828234857429 483.0741290848388,90.389672269937 514,105 C 544.9258709151612,119.610327730063 573.5493138297866,179.84959326882628 606,200 C 638.4506861702134,220.15040673117372 674.7286155960151,200.21195465475782 718,190 C 761.2713844039849,179.78804534524218 811.536223786153,179.30258811214242 841,183 C 870.463776213847,186.69741188785758 879.1264892593728,194.57769289667243 910,179 C 940.8735107406272,163.42230710332757 993.9578191763558,124.38664030116787 1036,126 C 1078.0421808236442,127.61335969883213 1109.0422340352038,169.87574589865605 1136,167 C 1162.9577659647962,164.12425410134395 1185.8732446828296,116.11037610420799 1219,116 C 1252.1267553171704,115.88962389579201 1295.4647872334774,163.68274968451203 1334,180 C 1372.5352127665226,196.31725031548797 1406.2676063832614,181.15862515774398 1440,166 C 1440,166 1440,500 1440,500 Z");
                                }

                                75% {
                                    d: path("M 0,500 C 0,500 0,166 0,166 C 31.10479052564436,188.42742154497208 62.20958105128872,210.85484308994415 101,219 C 139.79041894871128,227.14515691005585 186.26646632048949,221.00804918519546 222,208 C 257.7335336795105,194.99195081480454 282.72455366675337,175.11296016927406 313,163 C 343.27544633324663,150.88703983072594 378.83531901249705,146.54011013770824 410,152 C 441.16468098750295,157.45988986229176 467.9341702832585,172.72659927989295 505,181 C 542.0658297167415,189.27340072010705 589.4279998544688,190.55349274271998 626,188 C 662.5720001455312,185.44650725728002 688.3538302988663,179.05942974922712 718,185 C 747.6461697011337,190.94057025077288 781.1566789500658,209.2087882603717 820,196 C 858.8433210499342,182.7912117396283 903.0194539008704,138.10541720928603 934,121 C 964.9805460991296,103.89458279071397 982.7655054464519,114.36954290248414 1018,139 C 1053.234494553548,163.63045709751586 1105.9185243133222,202.41641118077743 1143,213 C 1180.0814756866778,223.58358881922257 1201.5603973002594,205.96481237440608 1236,181 C 1270.4396026997406,156.03518762559392 1317.8398864856401,123.72433932159826 1354,120 C 1390.1601135143599,116.27566067840174 1415.08005675718,141.13783033920086 1440,166 C 1440,166 1440,500 1440,500 Z");
                                }

                                100% {
                                    d: path("M 0,500 C 0,500 0,166 0,166 C 41.61312900185335,170.87943630085775 83.2262580037067,175.7588726017155 113,159 C 142.7737419962933,142.2411273982845 160.7080969870266,103.84394589399575 188,106 C 215.2919030129734,108.15605410600425 251.94135404818695,150.86534382230147 290,154 C 328.05864595181305,157.13465617769853 367.5264868202258,120.69467881679839 407,124 C 446.4735131797742,127.30532118320161 485.9526986709103,170.35594091050498 526,172 C 566.0473013290897,173.64405908949502 606.6627184961335,133.8815575411817 634,139 C 661.3372815038665,144.1184424588183 675.3964273445551,194.11782892476816 711,218 C 746.6035726554449,241.88217107523184 803.7515721256457,239.6471267597458 840,217 C 876.2484278743543,194.3528732402542 891.5972841528618,151.29366403624869 918,152 C 944.4027158471382,152.70633596375131 981.8592912629072,197.17821709525936 1022,204 C 1062.1407087370928,210.82178290474064 1104.9655507955094,179.99346758271398 1144,179 C 1183.0344492044906,178.00653241728602 1218.2785055550553,206.8479125738847 1247,211 C 1275.7214944449447,215.1520874261153 1297.92042698427,194.61488212174723 1329,183 C 1360.07957301573,171.38511787825277 1400.0397865078648,168.6925589391264 1440,166 C 1440,166 1440,500 1440,500 Z");
                                }
                            }
                        </style>
                        <defs>
                            <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                                <stop offset="5%" stop-color="#002bdc"></stop>
                                <stop offset="95%" stop-color="#32ded4"></stop>
                            </linearGradient>
                        </defs>
                        <path
                            d="M 0,500 C 0,500 0,166 0,166 C 41.61312900185335,170.87943630085775 83.2262580037067,175.7588726017155 113,159 C 142.7737419962933,142.2411273982845 160.7080969870266,103.84394589399575 188,106 C 215.2919030129734,108.15605410600425 251.94135404818695,150.86534382230147 290,154 C 328.05864595181305,157.13465617769853 367.5264868202258,120.69467881679839 407,124 C 446.4735131797742,127.30532118320161 485.9526986709103,170.35594091050498 526,172 C 566.0473013290897,173.64405908949502 606.6627184961335,133.8815575411817 634,139 C 661.3372815038665,144.1184424588183 675.3964273445551,194.11782892476816 711,218 C 746.6035726554449,241.88217107523184 803.7515721256457,239.6471267597458 840,217 C 876.2484278743543,194.3528732402542 891.5972841528618,151.29366403624869 918,152 C 944.4027158471382,152.70633596375131 981.8592912629072,197.17821709525936 1022,204 C 1062.1407087370928,210.82178290474064 1104.9655507955094,179.99346758271398 1144,179 C 1183.0344492044906,178.00653241728602 1218.2785055550553,206.8479125738847 1247,211 C 1275.7214944449447,215.1520874261153 1297.92042698427,194.61488212174723 1329,183 C 1360.07957301573,171.38511787825277 1400.0397865078648,168.6925589391264 1440,166 C 1440,166 1440,500 1440,500 Z"
                            stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53"
                            class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
                        <style>
                            .path-1 {
                                animation: pathAnim-1 4s;
                                animation-timing-function: linear;
                                animation-iteration-count: infinite;
                            }

                            @keyframes pathAnim-1 {
                                0% {
                                    d: path("M 0,500 C 0,500 0,333 0,333 C 32.51596939538178,296.37775935320906 65.03193879076356,259.7555187064181 95,271 C 124.96806120923644,282.2444812935819 152.3882142323275,341.35568452753654 189,339 C 225.6117857676725,336.64431547246346 271.41520427992634,272.82174318343573 306,271 C 340.58479572007366,269.17825681656427 363.95096864796716,329.3573427387206 400,350 C 436.04903135203284,370.6426572612794 484.7809211282049,351.7488858616818 521,355 C 557.2190788717951,358.2511141383182 580.925346839213,383.64711381455203 614,387 C 647.074653160787,390.35288618544797 689.5176915149433,371.66265888011 730,370 C 770.4823084850567,368.33734111989 809.0038871010137,383.7022506650082 838,379 C 866.9961128989863,374.2977493349918 886.4667600810016,349.52833845985714 918,344 C 949.5332399189984,338.47166154014286 993.1290725749802,352.1843954955631 1031,334 C 1068.8709274250198,315.8156045044369 1101.0169496190776,265.73407955789037 1136,272 C 1170.9830503809224,278.26592044210963 1208.8031289487099,340.8792862728756 1240,367 C 1271.1968710512901,393.1207137271244 1295.770534586083,382.748775350607 1328,371 C 1360.229465413917,359.251224649393 1400.1147327069584,346.1256123246965 1440,333 C 1440,333 1440,500 1440,500 Z");
                                }

                                25% {
                                    d: path("M 0,500 C 0,500 0,333 0,333 C 23.153175776244908,313.7804159249865 46.306351552489815,294.5608318499731 83,313 C 119.69364844751018,331.4391681500269 169.9277695662856,387.53708852509413 208,392 C 246.0722304337144,396.46291147490587 271.9825701823678,349.2908140496504 303,322 C 334.0174298176322,294.7091859503496 370.14194970424325,287.29965527630424 403,300 C 435.85805029575675,312.70034472369576 465.44963100065945,345.51056484513254 499,358 C 532.5503689993405,370.48943515486746 570.0595262931191,362.65808534316545 608,351 C 645.9404737068809,339.34191465683455 684.3122638268636,323.8570937822054 720,330 C 755.6877361731364,336.1429062177946 788.6914183994262,363.9135395280128 825,352 C 861.3085816005738,340.0864604719872 900.9220625754315,288.48874810574347 937,281 C 973.0779374245685,273.51125189425653 1005.6203312988484,310.13146804901345 1035,318 C 1064.3796687011516,325.86853195098655 1090.5966122291748,304.98537969820256 1128,301 C 1165.4033877708252,297.01462030179744 1213.9932197844532,309.92701315817624 1250,327 C 1286.0067802155468,344.07298684182376 1309.4305086330135,365.3065676690925 1339,367 C 1368.5694913669865,368.6934323309075 1404.2847456834934,350.84671616545376 1440,333 C 1440,333 1440,500 1440,500 Z");
                                }

                                50% {
                                    d: path("M 0,500 C 0,500 0,333 0,333 C 32.939867258620865,322.45163825514595 65.87973451724173,311.9032765102919 100,306 C 134.12026548275827,300.0967234897081 169.420929189654,298.8385322139783 201,304 C 232.579070810346,309.1614677860217 260.4365487241422,320.7425946337948 293,334 C 325.5634512758578,347.2574053662052 362.83287591377734,362.19108925084254 396,368 C 429.16712408622266,373.80891074915746 458.23194762074843,370.49304836283505 497,356 C 535.7680523792516,341.50695163716495 584.2393336032292,315.8367172978175 625,326 C 665.7606663967708,336.1632827021825 698.8107179663347,382.1600824458949 727,371 C 755.1892820336653,359.8399175541051 778.5177945314323,291.52295291860287 808,277 C 837.4822054685677,262.47704708139713 873.1181039079361,301.74810587969336 914,308 C 954.8818960920639,314.25189412030664 1001.0097898368238,287.4846235626236 1041,292 C 1080.9902101631762,296.5153764373764 1114.842736744769,332.31339986981226 1147,333 C 1179.157263255231,333.68660013018774 1209.6192631841006,299.2617769581275 1243,289 C 1276.3807368158994,278.7382230418725 1312.6802105188283,292.63949229767786 1346,304 C 1379.3197894811717,315.36050770232214 1409.659894740586,324.18025385116107 1440,333 C 1440,333 1440,500 1440,500 Z");
                                }

                                75% {
                                    d: path("M 0,500 C 0,500 0,333 0,333 C 40.79824874693931,322.8765559271205 81.59649749387862,312.75311185424096 112,315 C 142.40350250612138,317.24688814575904 162.4122587714248,331.86410851015677 190,321 C 217.5877412285752,310.13589148984323 252.75446742042215,273.79045410513214 291,284 C 329.24553257957785,294.20954589486786 370.5698715468866,350.9740750693147 407,361 C 443.4301284531134,371.0259249306853 474.96604639203144,334.3132456176091 513,329 C 551.0339536079686,323.6867543823909 595.5659428849877,349.772942460249 625,351 C 654.4340571150123,352.227057539751 668.7701820680179,328.59498454139475 705,315 C 741.2298179319821,301.40501545860525 799.353328842941,297.8471193741721 840,312 C 880.646671157059,326.1528806258279 903.8165025602186,358.01653796191687 932,371 C 960.1834974397814,383.98346203808313 993.3806609161845,378.08672877816036 1029,386 C 1064.6193390838155,393.91327122183964 1102.6608537750433,415.6365469254415 1132,391 C 1161.3391462249567,366.3634530745585 1181.9759239836424,295.36708352007344 1219,276 C 1256.0240760163576,256.63291647992656 1309.4354502903882,288.8951189942647 1349,307 C 1388.5645497096118,325.1048810057353 1414.282274854806,329.0524405028676 1440,333 C 1440,333 1440,500 1440,500 Z");
                                }

                                100% {
                                    d: path("M 0,500 C 0,500 0,333 0,333 C 32.51596939538178,296.37775935320906 65.03193879076356,259.7555187064181 95,271 C 124.96806120923644,282.2444812935819 152.3882142323275,341.35568452753654 189,339 C 225.6117857676725,336.64431547246346 271.41520427992634,272.82174318343573 306,271 C 340.58479572007366,269.17825681656427 363.95096864796716,329.3573427387206 400,350 C 436.04903135203284,370.6426572612794 484.7809211282049,351.7488858616818 521,355 C 557.2190788717951,358.2511141383182 580.925346839213,383.64711381455203 614,387 C 647.074653160787,390.35288618544797 689.5176915149433,371.66265888011 730,370 C 770.4823084850567,368.33734111989 809.0038871010137,383.7022506650082 838,379 C 866.9961128989863,374.2977493349918 886.4667600810016,349.52833845985714 918,344 C 949.5332399189984,338.47166154014286 993.1290725749802,352.1843954955631 1031,334 C 1068.8709274250198,315.8156045044369 1101.0169496190776,265.73407955789037 1136,272 C 1170.9830503809224,278.26592044210963 1208.8031289487099,340.8792862728756 1240,367 C 1271.1968710512901,393.1207137271244 1295.770534586083,382.748775350607 1328,371 C 1360.229465413917,359.251224649393 1400.1147327069584,346.1256123246965 1440,333 C 1440,333 1440,500 1440,500 Z");
                                }
                            }
                        </style>
                        <defs>
                            <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                                <stop offset="5%" stop-color="#002bdc"></stop>
                                <stop offset="95%" stop-color="#32ded4"></stop>
                            </linearGradient>
                        </defs>
                        <path
                            d="M 0,500 C 0,500 0,333 0,333 C 32.51596939538178,296.37775935320906 65.03193879076356,259.7555187064181 95,271 C 124.96806120923644,282.2444812935819 152.3882142323275,341.35568452753654 189,339 C 225.6117857676725,336.64431547246346 271.41520427992634,272.82174318343573 306,271 C 340.58479572007366,269.17825681656427 363.95096864796716,329.3573427387206 400,350 C 436.04903135203284,370.6426572612794 484.7809211282049,351.7488858616818 521,355 C 557.2190788717951,358.2511141383182 580.925346839213,383.64711381455203 614,387 C 647.074653160787,390.35288618544797 689.5176915149433,371.66265888011 730,370 C 770.4823084850567,368.33734111989 809.0038871010137,383.7022506650082 838,379 C 866.9961128989863,374.2977493349918 886.4667600810016,349.52833845985714 918,344 C 949.5332399189984,338.47166154014286 993.1290725749802,352.1843954955631 1031,334 C 1068.8709274250198,315.8156045044369 1101.0169496190776,265.73407955789037 1136,272 C 1170.9830503809224,278.26592044210963 1208.8031289487099,340.8792862728756 1240,367 C 1271.1968710512901,393.1207137271244 1295.770534586083,382.748775350607 1328,371 C 1360.229465413917,359.251224649393 1400.1147327069584,346.1256123246965 1440,333 C 1440,333 1440,500 1440,500 Z"
                            stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1"
                            class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
                    </svg>
                </div>
    </div>